.section-categories {
    padding: 5rem;
    .container-categories {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      flex-wrap: wrap;
      gap: 3rem;
  
      .categorie-item {
        display: flex;
        align-items: center;
  
        column-gap: 3rem;
  
        p {
          font-size: 2rem;
          font-family: Quicksand;
          font-weight: 800;
        }
        .categorie-IMGitem {
          display: grid;
          grid-column: auto;
          img {
            height: 10rem;
            width: 10rem;
            object-fit: cover;
            border-radius: 90px;
            border-color: black;
            border: 2px solid;
          }
        }
      }
      .categorie-item:hover {
        transform: scale(1.1);
        transition: all 0.2s ease;
      }
  
      .categorie-item:not(:hover) {
        transform: scale(1);
        transition: all 0.2s ease;
      }
    }
  }