
.controls {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
    pointer-events: none;
}

.controls button {
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    cursor: pointer;
    pointer-events: auto;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease;
}

.controls button:hover {
    background-color: rgba(0, 0, 0, 0.8);
}


  .contact-info {
    margin-bottom: 40px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  }
  
  .contact-info h2 {
    color: #798499;
    margin-bottom: 10px;
  }
  
  .contact-info p {
    margin: 10px 0;
  }
  
  .contact-info .social-media a {
    text-decoration: none;
    color:#798499;
    margin-right: 10px;
  }
  
  .contact-info .social-media a:hover {
    text-decoration: underline;
  }
  
  /* Formulario */
  .contact-form {
    
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  }
  
  .contact-form h2 {
    color: #798499;
    margin-bottom: 20px;
  }
  
  .contact-form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .contact-form input,
  .contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #333;
    border-radius: 5px;
    color: #fff;
  }
  
  .contact-form input::placeholder,
  .contact-form textarea::placeholder {
    color: #aaa;
  }
  
  .contact-form button {
    background: #798499;;
    
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
  }
  
  .contact-form button:hover {
    background: #798499;;
  }
  
  
    /* Secciones */
.info-section,
.faq-section,
.contact-section,
.social-section {
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.info-section h2,
.faq-section h2,
.contact-section h2,
.social-section h2 {
    font-size: 24px;
    color: #5e7094;
    margin-bottom: 10px;
}

.contact-form input,
.contact-form textarea {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.contact-form button {
    background: #5e7094;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
}

.contact-form button:hover {
    background: #3e4e66;
}
