
/* Encabezado con imagen de fondo */
.encabezado-img {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('2053149561.avif');
    background-size: cover;
    background-position: center;
    height: 620px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
}

.encabezado-imgdos{
    background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('1801966266.avif');
    background-size: cover;
    background-position: center;
    height: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
}

.encabezado-imgtres{
    background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('Teams_1920x1080.avif');
    background-size: cover;
    background-position: center;
    height: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
}


.encabezado-imgcuatro{
    background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('2055023690.avif');
    background-size: cover;
    background-position: center;
    height: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
}

.encabezado-imgcinco{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('NetZero_1920x1080.avif');
    background-size: cover;
    background-position: center;
    height: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
}

.encabezado-imgseis{
    background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('GettyImages-1372359131.avif');
    background-size: cover;
    background-position: center;
    height: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
}


.encabezado-imgsiete{
    background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('2186061481.avif');
    background-size: cover;
    background-position: center;
    height: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
}

.encabezado-imgocho{
    background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('2186048370.avif');
    background-size: cover;
    background-position: center;
    height: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
}

.encabezado-imgnueve{
    background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('2186050371.avif');
    background-size: cover;
    background-position: center;
    height: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
}

.encabezado-imgdiez{
    background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('2186054333.avif');
    background-size: cover;
    background-position: center;
    height: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
}

.encabezado-img p {
    font-size: 18px;
}

.encabezado-img h1 {
    font-size: 50px;
    padding: 15px 0;
}

/*Fin de encabezados con imagen*/
.shopping-icon {
    font-size: 2.5rem;
    color: #333;
    margin-left: 2rem;
    
  }
  .shopping-icon a:hover {
    color: rgb(223, 31, 121);
  }
