@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');

/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Poppins', sans-serif;
}
/* Aplicar solo a los párrafos dentro del contenido principal */
.main-content p {
    text-align: justify;
    word-spacing: 1px;
    padding: 20px;
    margin: 20px;
}
/* Estilos generales del encabezado */
header {
    background-color: #f2f2f2;
    text-align: center;
    padding: 25px;
}
/* Cuerpo */
.cuerpo {
    font-family: 'Poppins', sans-serif;
    justify-content: center;
    text-align: center;
}

.enunciado{
    font-family: 'Poppins', sans-serif;
    text-align: marcht-parent;
    font-size: 20px;
}

.sub{
    font-family: 'Poppins', sans-serif;
    text-align: justify;
    font-size: 20px;
    padding: 20px;
    margin: 20px;
}
.index{
    text-align: left;
    padding: 25px;
}